.Body-13-bold {
  font-size: 13px;
  font-family: "TTNormsBold";
  line-height: 20px;
}
.Body-14-bold {
  font-size: 14px;
  font-family: "TTNormsBold";
  line-height: 20px;
}
.Body-14 {
  font-size: 14px;
  font-family: "TTNormsLight";
  line-height: 20px;
}
